.container {
  max-width: 100%;
  overflow: hidden;
  margin: auto;
  position: relative;
}

.title {
  color: var(--theme-color-accent);
  text-transform: uppercase;
}

.description {
  padding-top: 1rem;
  color: var(--color-white);
}

.cardsRow {
  border-bottom: 1px solid var(--theme-color-input-dark);
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  cursor: grab;
}

.mainCard {
  padding: 4rem 1rem 4rem var(--page-gutters-one-side-desktop);
  z-index: var(--z-index-large);
  position: sticky;
  left: 0;
  min-width: 550px;
  background: var(--color-black);
  border-right: 1px solid var(--theme-color-input-dark);

  @media (max-width: 1920px) {
    min-width: 350px;
  }

  .label {
    color: var(--color-white-blue);
  }

  @media (max-width: 768px) {
    min-width: 160px;
  }

  .mainCardTitle {
    font-family: 'SpaceGroteskLight', sans-serif;
    color: var(--color-black);
    font-size: 50px;
    font-weight: var(--font-weight-bold);
    margin-bottom: 10px;
    color: var(--theme-color-accent);
    line-height: 1.2;

    @media (max-width: 768px) {
      font-size: 1rem;
    }
  }
}

.card {
  border-left: 1px solid var(--theme-color-input-dark);
  min-width: 500px;
  min-height: 800px;

  @media (max-width: 1920px) {
    min-height: 700px;
    min-width: 300px;
  }

  @media (max-width: 768px) {
    min-height: 400px;
  }

  &:hover {
    background: var(--color-white-blue);
    transition: 500ms ease-in background;

    .title {
      color: var(--color-black);
    }

    .description {
      color: var(--color-black);
    }

    .number {
      color: var(--color-black);
    }

    .overlay {
      display: none;
    }
  }
}

.cardText {
  padding: 1rem 1.2rem;
}

.buttonsRow {
  border-bottom: 1px solid var(--theme-color-input-dark);

  .button {
    background: var(--color-black);
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    height: 100%;
    min-width: 48px;

    &:hover {
      background-color: var(--theme-color-accent);
      transition: 200ms ease background-color;

      .arrow {
        stroke: var(--color-white-blue);
        color: var(--color-white-blue);
      }
    }
  }
}

.number {
  margin-top: -320px;
  top: 0;
  z-index: var(--z-index-small);
  padding-bottom: 250px;
  color: var(--color-white-blue);
  position: relative;
  color: var(--color-white-blue);
  font-size: 3rem;

  @media (max-width: 768px) {
    margin-top: -250px;
    padding-bottom: 150px;
  }
}

.imageContainer {
  position: relative;
  width: 100%;
  min-height: 320px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  min-height: 350px;
  object-fit: cover;

  @media (max-width: 768px) {
    min-height: 250px;
    width: 99.8%;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color-black);
}
