.root {
  cursor: pointer;
  transition: 200ms ease all;
  border: none;
  margin-left: -0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    opacity: 0.8;
  }
}
