.spinner {
  border: 4px solid var(--theme-primary-light-background);
  border-top: 4px solid var(--theme-color-accent);
  border-radius: 50%;
  width: 12px;
  height: 12px;
  padding: 12px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
